@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.app-body a {
  color: #222;
}
.app-body a:focus,
.app-body a:hover {
  color: #ff9a00;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar-brand img {
  width: 100px;
}

.main-settings-link {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  -webkit-animation: spin 7s infinite linear;
  animation: spin 7s infinite linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.main-settings-link:hover {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.main-navigation__list .nav-link {
  font-weight: 500;
}
.main-navigation .navbar-toggler {
  right: 4rem;
  color: rgba(0,0,0,.9);
  border-color: rgba(0,0,0,.1);
}
.main-navigation .navbar-toggler-icon {
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.section-header {
  margin-bottom: 2rem;
}

.page-menu.fa-ul {
  margin-left: 1.5rem;
}
.page-menu__item {
  margin-bottom: .5rem;
}

.page-card {
  height: calc(100% - 1.5rem);
  margin-bottom: 1.5rem;
}

.page-card .card-title {
  margin-bottom: 1.5rem;
  color: #454545;
}
.page-card .card-title:before {
  content: "\f05a";
  margin-right: .5rem;
  font: 1.5em FontAwesome;
  color: rgba(240, 140, 0, 1);
}

.page-card .card-text {
  font-size: .95em;
}

a.page-card__link {
  color: #fff;
  background-color: #ff9a00;
}
.page-card__link:hover {
  background-color: transparent;
}
.page-card .card-footer {
  background-color: transparent;
  border-top: none;
}

.main-footer {
  background-color: #151515;
}
.main-footer a {
  color: rgba(255, 255, 255, .8);
}

.main-footer__post-block {
  text-align: center;
  border-top: 2px solid #333;
}

.main-footer__menu-title {
  display: block;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: #606068;
  text-transform: uppercase;
}
.main-footer__menu-item {
  margin-top: .5rem;
}

.main-footer__post-links-item {
  display: inline-block;
  margin-right: .5em;
}

a.social-icons__link {
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  opacity: .8;
}
a.social-icons__link:hover {
  color: #fff;
  opacity: 1;
}
a.social-icons__link--blue,
a.social-icons__link--blue:hover {
  color: #4990e2;
}
